<footer>
    <div class="padding">
        <div class="row text-center"></div> <a id="back-home-button"> <i class="fas fa-arrow-up"></i> </a>
</footer>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.1.0/dist/lazyload.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/master.js"></script>
<script src="/js/home-detail.js"></script>
<script>var lazyLoadInstance = new LazyLoad({ elements_selector: ".lazy-hinh" });</script>